# MATLAB Auto-Saves & temp files
*.asv
diagnose_gap.m

# OFDM Captured & Demodulated Data
R/captures/
R/OFDM_Demodulated_Data.mat
R/OFDM_Demodulated_Data_metadata.json

# Transmitter Reference Grids
T/tx_reference*.mat
T/tx_reference*.json

# Inter-process Communication Flags
*.flag

# Ignored sub-repositories or external directories
Example/
